.sponsors > div {
    padding: 5em 2em;
    background-color: #fff;
}

.sponsors > div > img {
    max-height: 25vh;
}

.banner-container {
    margin-top: 78px;
    background-image: url('../assets/banner-inicio.png');
    height: 200vh;
    position: relative;
}

.head {
    position: absolute;
    height: 80vh;
    bottom: 55%;
    left: 15%;
    overflow: visible;
}

.head > .header > .title > * {
    padding: 10px;
}

.head > .header > .title > img {
    align-self: center;
}

.head > .header > .title {
    color: #FFF;
}

.head > img {
    height: 60vh;
    object-fit: contain;
}

.head > .buttons > img {
    padding: 15px;
}


.window {
    background-color: #E4FCFE;
}

.window > .content > p {
    margin-top: 15%;
    text-align: center;
}

.window > .content > .buttons {
    padding: 0 0 35px 0;
}

.window > .content > .buttons > div {
    padding: 25px 0;
    text-align: center;
    width: 250px;
    background-color: #AEE7F4;
}

.window, .window > .content > .buttons > div {
    border: 2px solid #300549;
}

.banner-player {
    position: absolute;
    bottom: 8%;
    right: 5%;
    background-color: #DCF4F8;
    width: 33vw;
    height: 20vh;
    border-radius: 25px 0 0 0 ;
    color: #7E3CBA;
    font-weight: 700;
}

.banner-player > .header > .circle {
    height: 25px;
    width: 25px;
    border-radius: 12.5px;
    background-color: #7E3CBA;
}

.banner-player > .header > .title > p {
    margin: 0;
}

.banner-player > .header > .circle, .banner-player > .header > .title > p:first-of-type {
    margin-top: 25px;
}

.head > img, .organiza > img, .asupicia > img {
    object-fit: contain;
}

img.about {
    position: absolute;
    left: 30%;
    top: 50%;
}

hr {
    width: 20vw;
}

footer {
    padding: 5em;
    background-color: rgb(119, 119, 119);
    color: #fff;
}