@font-face {
    font-family: 'amsipro';
    src: url(../assets/font/AmsiPro-Ultra.otf);
}

body {
    margin: 0;
    font-family: 'amsipro';
}

nav {
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #FFA1D0;
    width: 100vw;
    height: 5vh;
}

nav > * {
    padding: 10px;
}

body {
    margin: 0;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.column {
    display: flex;
    flex-flow: column wrap;
}

.center {
    align-content: center;
    justify-content: center;
    text-align: center;
}

.window, .main-content {
    width: 80vw;
    height: 60vh;
    background-color: #DBDDEB;
    margin: 5vh 10vw;
    overflow: hidden;
    color: #B15AC1;
}

.window {
    border: 5px solid #2F0745;
    box-shadow: 10px 10px #6A1C7A;
}

.window > .content {
    border-top: 5px solid #2F0745;
}

.window > .title {
    height: 15%;
    background-color: #EF1E37;
    color: white;
    display: flex;
    justify-content: space-between;
}

.window > .title > * > * {
    padding: 5px;
}

.window-feature > img {
    height: 60;
    width: 60;
}

.justify-around {
    justify-content: space-around;
}

.button-payment {
    all: unset;
    align-self: center;
    width: 30%;
    background-color: #afe3f1;
    border: .5px solid #a3a3a3;
    padding: 10px;
    font-weight: 500;
}

.blue-bg {
    background-color: #D4EBF5;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    nav {
        height: 10vh;
    }

    .hamburger {
        height: 30px;
    }

    .window {
        height: 30vh;
    }

    .window-logo {
        height: 30px;
    }

    .window-title {
        font-size: 10px;
    }

    .window-feature > img {
        height: 25px;
    }

    .window > .content > img {
        height: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    nav {
        height: 7vh;
    }

    .hamburger {
        height: 30px;
    }

    .window {
        height: 60vh;
    }

    .window-logo {
        height: 60px;
    }

    .window-title {
        font-size: 20px;
    }

    .window-feature > img {
        height: 50px;
    }

    .window > .content > img {
        height: 50px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    nav {
        height: 10vh;
    }

    .hamburger {
        height: 60px;
    }
    .window {
        height: 70vh;
    }
}