.content {
    color: black;
    position: relative;
}

.content > img {
    position: absolute;
    top: 0;
}

.content > img:first-child {
    right: 5px;
}

.content > img:nth-child(2) {
    right: 40px;
}

.content > p {
    width: 100%;
}

p {
    margin: 0;
}

.ticket-info {
    color: #6A1C7A;
    height: 20vw ;
}

.ticket-info > .title > .row > .window-feature > img {
    height: 25px;
}

.ticket-title {
    font-size: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content {
        font-size: 60px;
    }

    .ticket-info {
        height: 100px;
    }

    .title {
        height: 35% !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .content {
        font-size: 140px;
    }

    .content > img:nth-child(2) {
        right: 8vw;
    }

    .title {
        height: 25% !important;
    }

    .ticket-title {
        font-size: 40px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}