.white_marker{
    width: 50%;
    height: 1.5vh;
    background-color: rgb(255, 255, 255);
}

.red_marker{
    width: 10%;
    height: 1.5vh;
    background-color: rgb(189, 75, 74);
}

.black_marker{
    width: 10%;
    height: 1.5vh;
    background-color: rgb(0, 0, 0);
}

.banner_welcome {
    position: absolute;
    top: 12%;
    left: 10%;
    font-size: 3.25vw;
    color: rgb(35, 31, 32);
}

.banner_container{
    padding: 1em 13.75em 13.75em 13.75em;
}

.banner_text {
    font-size: 3vw;
    text-align: center;
    font-weight: bold;
}

.acreditacion_container{
    background-color: rgb(189, 75, 74);
    height: 100vh;
}

.acreditacion_imagen_1{
    position: absolute;
    left: -1vw;
    width: 40%;
    top: -25%;
}

.acreditacion_imagen_2{
    position: absolute;
    width: 30%;
    right: 0;
    top: -40%;
}

.acreditacion_text {
    color: white;
    margin-top: -13rem;
}

.acreditacion_header {
    font-size: 5vw;
    margin-left: 14rem;
    margin-top: 3rem;
    width: 30rem;
    padding: 0;
}

.acreditacion_header > p {
    margin-bottom: 0;
}

.acreditacion_body {
    font-size: 2.35vw;
    width: 45%;
    margin-left: 11em;
    margin-top: 0em;
}

.acreditacion_button {
    position: absolute;
    right: 25%;
    bottom: -11%;
}

.patrocinadores{
    padding-bottom: 2.5vw
}

.patrocinadores_text {
    font-size: 2vw;
    padding-top: 3vw;
}

.patrocinadores_logo {
    width: 7vw;
    padding: 2vw 4vw;
}

.patrocinadores_logo_2 {
    width: 16rem;
    padding: 2vw 2vw;
}







