.container_acreditaciones{
    position: absolute;
    top: 40vh;
    font-size: 15vh;
    left: 15vh;
    text-align: start;
    width: 20vw;
}

.interniliado_container > p:not(:first-child){
    margin-top: -7vh;
}

.accesos_desglose{
    padding: 6vw;
}

.border_bottom_red{
    border-bottom: 1px rgb(189, 75, 74)red;
}

.background_red{
    background-color: rgb(189, 75, 74);
}

.text_center{
    text-align: center;
}

.grid_container{
  padding: 5vw;
  margin: 2vw;
}

.grid {
  display: grid;
  grid-template-columns: 2.5fr 1.5fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
    font-size: 2.5vw;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    align-items: center;
    padding: 2vh;
}

.cell_banco {
    grid-column: 2 / 3;
    font-size: 1vw;
    align-items: center;
    padding: 2vh;
}

.low_padding{
    padding: 3vh;
}

.cell_offset{
    grid-column: 2;
}

.border_right_White{
    border-right: 1px solid white;
}

.border_left_white{
    border-left: 1px solid white;
}

.border_bottom_red{
    border-bottom: 2px solid rgb(190,31,46);
}

.small_font{
    font-size: 1vw;
}

.margin_right_low{
    margin-right: 0.2vw;
}

.margin_left_low{
    margin-left: 0.2vw;
}

.padding_low{
    padding: 12px 1px;
}

.post_stick{
    width: 37vw;
}

.postick_container{
    padding: 5vw;
}

.post_stick_text{
    top: 15%;
    left: 15%;
    padding: 0vw 5vw 0vw 2vw;
    font-size: 3vh;
}

.post_stick_text_title{
    font-size: 5vh;
    margin: 0;
}

.post_stick_payment {
    bottom: 6vh;
    left: 6.3vw;
}

.post_stick_text p {
    padding: 0;
    margin: .5vh;
}

.virtual_alley_text{
    line-height: 3rem;
}

.banner_acreditacion{
    height: 130vh;
}

.top_left{
    top: 0;
    left: 0;
}

.bottom_right{
    bottom: 0;
    right: 2vw;
}

.background{
    right: -1vw;
    width: 100vw;
}

.textura{
    top: 13vw;
    right: 7vw;
    width: 17vw;
}

.sticker{
    top: 7vw;
    right: 15vw;
    width: 45vw;
}

.cinta{
    width: 15vw;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

@media only screen and (min-width: 2200px){
    .post_stick_payment {
        bottom: 4vh;
        left: 12.3vw;
    }

    .bottom_right {
        bottom: 3vh;
    }

    .container_acreditaciones {
        top: 25vh;
    }

}

@media only screen and (min-width: 2500px){
    .bottom_right {
        bottom: 20vh;
    }
}
