.header_text, .slide_container > a {
    font-size: 5vw;
    top: 3vh;
    left: 20vw;
}

.awssld__bullets {
    background-color: black;
}

.awssld__bullets > button {
    background-color: rgb(190, 31, 46);
}

.awssld__bullets .awssld__bullets--active {
    background-color: white;
}

.artist_name {
    font-size: 3vh;
}

.artist_name {
    padding: 3vh 2vw;
    border-radius: 15px;
    margin: 2vh 1vw;
}

.artist_handle {
    padding-bottom: 4vh !important;
}

.big_artist_container {
    padding-bottom: 10vh;
}

.awssld__content, .slide_art_container {
    border-radius: 15px;
}

.header {
    height: 25vh;
}

.shadow_child { 
    box-shadow: white 0px 0px 1px 0px;
    border-radius: 15px;
}

.description_container, .shadow_container {
    padding: 5vh 3vw;
}

.shadow_child {
    padding: 5vh 2vw;
}

.description_container {
    font-size: 7vh;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px), only screen and (max-width: 600px) {
    .slide_art_container {
        height: 90vh;
    }

    .description_artist, .alley_instagram {
        font-size: 7vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){

    .header {
        height: 50vh;
    }

    .header_text {
        left: 15vw;
    }

    .description_artist, .alley_instagram  {
        font-size: 3vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .slide_art_container {
        width: 60vw;
    }

    .header_text {
        left: 20vw;
    }

    .header {
        height: 100vh;
    }
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
} 

@media only screen and (min-width: 2200px){
}

@media only screen and (min-width: 2500px){
}