.footer_full{
    background-color: rgb(26, 25, 21);
    padding: 8rem 11rem;
}

.contactos > p{
    margin-bottom: 0;
    font-size: 2.85vw;
}

.contactos_body, .newsletter_body{
    font-size: 1.7vw;
    padding-top: 2em;
}

.newsletter > p{
    font-size: 3.5vw;
}

.newsletter_body > .button_fake{
    margin-top: 2rem;
}