.gallery_container{
    margin-top: -50vh;
    padding: 3vw 0;
}

.gallery_title{
    font-size: 10vh !important;
}

.img_container{
    padding: 3vw;
    margin-top: -15vh;
}

.img_container > img{
    width: 15vw;
}

.text_container > p{
    padding: 0;
    margin: 0;
    padding-top: 2vh;
    font-size: 5vh;
}

.text_container{
    padding-right: 35vw;
}

.button_fake_black {
    font-size: 2vw;
    border: black solid;
    padding: .75rem 6rem;
    text-align: center;
}

.diversity_containter{
    padding: 5vh 0 !important;
}

.fake_button_container{
    padding: 5vh 0;
}
.royal_rumble_container{
    padding: 6vw 5vw;
}

.royal_rumble_container_title{
    font-size: 9vh;
}

.royal_rumble_container_text{
    padding: 0 5vw;
    font-size: 5vh;
}

.royal_rumble_container > img{
    display: block;
    height: 82vh;
    width: -moz-available;
    width: -webkit-fill-available;
}

.youtube_title{
    font-size: 8vh;   
}

iframe{
    padding: 2vw;
}

.notepad{
    top: 5vw;
    left: -5vw;
    width: 75vw;
}

.sketch_favorito_container_text{
    top: 15vw;
    left: 15vw;
    width: 35vw;
}

.sketch_favorito_container_title{
    font-size: 4vw;
}

.sketch_favorito_container_body{
    font-size: 2vw;
}

.ediciones_anteriores_container{
    padding: 3vw 0;
    overflow: hidden;
    margin-top: -1vh;
}

.ediciones_anteriores_container  > img{
    top: 0;
    height: 90vh;
    width: 100vw;
}

.index-1{
    z-index: 1;
}

.cinta_concursos{
    top: 5vw;
    left: 25vw;
    transform: rotate(35deg);
}

.banner_acreditaciones{
    height: 140vh;
}

.banner_acreditaciones_papel{
    width: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.banner_acreditaciones_papel > img{
    width: 100vw;
}

.yonson{
    top: 2.5vh;
    right: 0;
}

.sticker_girl{
    bottom: -17vh;
    right: 0;
}

.img_banner{
    width: 35vw;
}

.banner_sticker_text{
    top: 10vh;
    left: 10vw;
    font-size: 8vw;
}

.sketch_favorito_container_body_participar{
    margin-top: 3.5vh;
    padding-bottom: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: 2200px){
    .banner_acreditaciones_papel{
        top: 0vh;
    }

    .sticker_girl{
        bottom: 7vh;
    }
}

@media only screen and (min-width: 2500px){
    .sticker_girl{
        bottom: 0vh;
    }
}