@font-face {
    font-family: 'amsipro';
    src: url('assets/fonts/amsi/amsipro.woff') format('woff'),
        url('assets/fonts/amsi/amsipro.woff2') format('woff2');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_textbold';
    src: url('assets/fonts/brandon/brandontextbold.woff2') format('woff2'),
         url('assets/fonts/brandon/brandontextbold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.font_amsi {
    font-family: 'amsipro';
}

.font_brandon {
    font-family: 'brandon_textbold';
}

.flex {
    display: flex;
}

.row {
    flex-direction:  row;
}

.column {
    flex-direction: column;
}

.row_reverse {
    flex-direction: row-reverse;
}

.justify_around {
    justify-content: space-around;
}

.justify_end {
    justify-content: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.center {
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.full_width {
    width: 100%;
}

.no_margin {
    margin: 0;
}

.no_padding {
    padding: 0;
}

.button_fake:hover {
    cursor: pointer;
}

.nav_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_li{
    float: right;
}

.nav_li a:hover{
    color: rgb(189, 75, 74);
    transform: translate(0, -.5vh);
    transition: all .5s linear;
}

.nav_li a{
    display: block;
    text-align: center;
}

.relative {
    position: relative;
}

.background_black{
    background-color: black;
}

.background_red{
    background-color: rgb(190,31,46);
}

.absolute{
    position: absolute;
}

.background_white{
    background-color: white;
}

.justify_end{
    justify-content: flex-end;
}

.marker_white{
    background-color: white;
}
.marker_red{
    background-color: rgb(189, 75, 74);
}

.marker_black{
    background-color: rgb(0, 0, 0);
}

.text_black{
    color: black;
}

.button_fake {
    border: white solid;
    text-align: center;
}

.text_white{
    color: white;
}

.align_right{
    text-align: right;
}

.align_justify{
    text-align: justify;
}

align_left {
    text-align: left;
}

nav {
    background-color: white;
}

.pointer {
    cursor: pointer;
}

.justify_between{
    justify-content: space-between;
}

.marker_white{
    width: 15vw;
    height: 1.5vh;
}

.marker_red{
    width: 10vw;
    height: 1.5vh;
}

.marker_black{
    width: 15vw;
    height: 1.5vh;
}

.display_mobile {
    display: none;
}


 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px), only screen and (min-width: 600px) {
    body {
        font-size: 3.5vh;
    }

    .menu_links {
        text-align: right;
    }

    .body {
        margin-top: 15vh;
    }

    .menu {
        display: none;
    }

    .logo_sketch{
        width: 55vw;
        height: 7vh;
        margin-top: 5.5vh;
    }

    .hamburger {
        padding: 2.5vh 2.5vw;
        width: 10vw;
        height: 5vh;
        margin-top: 4.3vh;
    }

    .menu_links { 
        padding: 1.3vw 0;
    }

    .menu_links a {
        padding: .5vh 1vw;
        padding-right: 5vw;
    }

    .menu_mobile {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .marker_white{
        width: 35vw;
        height: .8vh;
    }

    .marker_red{
        width: 10vw;
        height: .8vh;
    }

    .marker_black{
        width: 15vw;
        height: .8vh;
    }

    .display_web {
        display: none;
    }

    .display_mobile {
        display: inline-block;
        margin-top: 1vh !important;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .hamburger {
        width: 8.5vw;
        height: 8.5vh;    
        margin-top: 8.3vh;
    }

    .logo_sketch {
        width: 21.675em;
        height: 6.5em;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    body {
        font-size: 16px;
    }

    .body {
        margin-top: 0;
    }

    .menu_mobile {
        display: none;
    }

    .hamburger {
        display: none;
    }

    .menu { 
        display: flex;
    }

    li {
        border-bottom: .02vh solid rgb(189,75,74);
    }

    .li_right_border {
        border-right: .02vw solid rgb(189,75,74);
    }

    .button_fake {
        font-size: 2vw;
        padding: .75vh 6vw;
    }

    .logo_sketch {
        width: 21.675em;
        height: 6.5em;
    }

    .nav_li a:hover{
        color: rgb(189, 75, 74);
        transform: translate(0, -.5vh);
        transition: all .5s linear;
    }

    .nav_li a{
        padding: 0.705vw 1vw;
    }

    .display_web {
        display: inline;
    }

    .display_mobile {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

} 