.button_fake {
    font-size: 2vw;
    border: white solid;
    padding: .75rem 6rem;
    color: white;
    text-align: center;
}

.logo_sketch {
    width: 21.675em;
    height: 6.5em;
}

.nav_ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_li{
    float: right;
}

.nav_li a:hover{
    color: rgb(189, 75, 74);
    transform: translate(0, -.75rem);
    transition: all .5s linear;
}

.nav_li a{
    display: block;
    text-align: center;
    padding: 0.875rem 1rem;
    color: black;
}

li{
    border-bottom: .02rem solid rgb(189,75,74);
}

.li_right_border{
    border-right: .02rem solid rgb(189,75,74);
}

.relative {
    position: relative;
}